/* Footer Area Start */
.footer-area
{
	position: relative;
	padding: 150px 0px 0px;
	.footer-titel
	{
		font-size: 18px;
		color: $white;
    font-weight: 500;
    padding-bottom: 20px;
    letter-spacing: 0.5px;
		span
		{
    	color: $white;
    	font-weight: 400;
    }
	}
	.textwidget
	{
		p
		{
			margin-top: 10px;
			color: $white;
		}
	}
	.footer-link
	{
		li
		{
			margin-bottom: 10px;
			a
			{
				color: $white;
				font-size: 14px;
				font-weight: 400;
				position: relative;
				&:hover
				{
					color: lighten($primary, 50);
				}
			}
		}
	}
	img
	{
		width: 100%;
	}
}

#copyright
{
	.copyright-content
	{
		border-top: 1px solid darken($primary, 3);
    padding: 10px 0;
    margin: 20px 0 0px;
	}

	p
	{
		line-height: 42px;
		color: $white;
		text-align: center;
		margin: 0;
		font-size: 12px;
		a
		{
			font-weight: bold;
			color: $white;
		}
	}
}

.social-icon
{
	a
	{  
		color: $black;
		background: $white;
		width: 40px;
		height: 40px;
		line-height: 45px;
		display: inline-block;
		text-align: center;
		border-radius: 0px;
		font-size: 20px;
		margin: 15px 6px 12px 4px;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
	}
	
	.facebook:hover
	{
		background: #3b5999;
	}
	.twitter:hover
	{
		background: #4A9CEC;
	}
	.instagram:hover
	{
		background: #D6274D;
	}
	.linkedin:hover
	{
		background: #1260A2;
	}
}
