/* Services Item */
.section-services
{
	.carousel-inner
	{
		padding: 30px;
	}

	.carousel-control-next
	{
		right: -45px;
		top: 125px;
		background-color: $black;
		opacity: .1;
		width: 5%;
		height: 95px;
	}

	.carousel-control-prev
	{
		left: -45px;
		top: 125px;
		background-color: $black;
		opacity: .1;
		width: 5%;
		height: 95px;
	}

	.carousel-indicators
	{
		li
		{
			background-color: $primary;
			width: 20px;
			height: 2px;
		}

		.active
		{
			background-color: lighten($primary, $amount: 20);
		}
	}
}

.section-red
{
	background-color: $primary;
	padding: 50px;

	.section-title
	{
		color: $white;
		&:before
		{
			background-color: $white;
		}
	}

	h1
	{
		color: $white;
	}

	p
	{
		color: $white;
	}

	.border
	{
		border: 1px solid $white !important;
	}

	.carousel-indicators
	{
		li
		{
			background-color: lighten($primary, $amount: 20);
			width: 20px;
			height: 2px;
		}

		.active
		{
			background-color: darken($white, 30);
		}
	}
}

.section-white
{
	padding: 100px;
	background-image: url(../img/frameF.svg);
	background-size: 100% !important;
	background-repeat: no-repeat;
	background-position: 0% 10%;
	background-color: $white;

	.section-title
	{
		color: $black;
		&:before
		{
			background-color: $black;
		}
	}

	h1
	{
		color: $black;
	}

	p
	{
		color: $black;
	}

	.border
	{
		border: 1px solid $black !important;
	}
}

.services-item{

	background-image: url(../img/frame.svg);
	background-size: 330px !important;
	background-repeat: no-repeat;
	width: 94%;

	background-color: $white;
	padding: 30px;
	height: 330px;
	border-radius: 0px;
	text-align: center;
	margin: 15px 0;
	transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
	.icon{
		border: 1px solid $primary;
	    width: 50px;
	    height: 50px;
	    border-radius: 50%;
		margin: 0 auto;
		margin-top: 10px;
	    transition: all 0.3s ease-in-out 0s;
	    -moz-transition: all 0.3s ease-in-out 0s;
	    -webkit-transition: all 0.3s ease-in-out 0s;
	    -o-transition: all 0.3s ease-in-out 0s;
		i{
		    font-size: 30px;
		    color: $primary;
		    line-height: 50px;
		    transition: all 0.3s ease-in-out 0s;
		    -moz-transition: all 0.3s ease-in-out 0s;
		    -webkit-transition: all 0.3s ease-in-out 0s;
		    -o-transition: all 0.3s ease-in-out 0s;
		}
	}
	.services-content
	{
		h3
		{
			font-weight: 500;
			margin-bottom: 10px;
			a{
				font-size: 16px;		
    			color: $black;
			}
		}

		p
		{
			color: $black;
		}
	}
}

.services-item:hover .icon{
	background: $primary;
	i{
		color: #fff;
	}
}
#service{
	position: relative;
}
// About
.about-area{
	.about-wrapper{
		height: 100%;
	    width: 100%;
	    display: table;
		> div{
	      vertical-align: middle;
	      display: table-cell;
	    }
	}
	 
	img{
		border-radius: 4px;
	}
	.content{
		margin-top: 15px;
		p{
			margin-bottom: 30px;
		}
	}
}

#cta{
	padding: 30px 0;
}

